.gist .gist-file .gist-meta {
  overflow: auto !important;
  overflow-x: hidden !important;
}
.gist .gist-file .gist-data {
  overflow: auto !important;
/*  overflow-x: hidden !important;*/
}

.gist-meta {
  display: none !important;
}

.post p {
    text-align: justify;
}
