<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" }}

  <body>
    <div class="container">
       {{ partial "header.html" }}
      <main>
        <div id="posts-list">
          {{ range .Data.Pages.GroupByDate "2006" -}}
          <section>
            <h3 class="site-date-catalog">{{ .Key }}</h3>

            {{ range .Pages -}}
            <div class="row post-line">
              <div class="posts-date col-2">
                <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02"}}</time>
              </div>
              <div class="posts-title col-10">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </div>
            </div>
            {{ end }}
          </section>
          {{ end }}
        </div>
      </main>

      <hr />

      {{ partial "footer.html" }}
    </div>

    {{ partial "scripts.html" }}
  </body>
</html>
