<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-0d">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript">
      var disqus_shortname  = 'vramana',
          disqus_identifier = '{{ page.path | split:'/' | last | cgi_escape }}',
          disqus_url        = '{{ site.url }}{{site.baseurl}}{{ page.url | uri_escape }}'
      ;
      (function() {
        var load = function(src){
          var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = src;
          var e = document.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e);
        };
        load('//' + disqus_shortname + '.disqus.com/count.js');
        if (document.getElementById('disqus_thread')) {
          load('//' + disqus_shortname + '.disqus.com/embed.js');
        }
      })();
    </script>
  </body>
</html>
